.survey {
  color: $white;
  padding: 20px 30px;
}

.survey-page {
  background-color: $black;
  margin-top: 0;
}

.frm_primary_label {
  display: block;
  color: $white;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.frm_form_fields {
  fieldset {
    padding: 0;
    display: block;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
    min-inline-size: 0;
    border-width: 0;
    border-style: none;
    border-color: #000;
    border-image: initial;
  }
  select {
    padding: 5px;
    max-width: 100%;
  }
}

.frm_form_field {
  margin: 20px 0;
}

.frm_checkbox {
  margin: 8px 0;
}

.frm_message {
  background-color: #40bb50;
  color: $white;
}

.frm_error_style {
  background-color: #f03020;
}

.frm_message,
.frm_error_style {
  padding: 15px 25px;
  margin: 0;
  border-radius: 7px;
  p {
    margin: 0;
    font-weight: 600;
  }
}
