.container {
  display: flex;
  flex-direction: column;
  .column {
    flex-grow: 1;
  }
}

.box {
  overflow: hidden;
  padding: 20px 30px;
  margin: 25px auto;
  background-color: $white;
  max-width: $max-width;
  h1 {
    margin-top: 0;
  }
}

.card {
  margin: 0 auto;
  max-width: 600px;
}

.important {
  color: $important-bg;
  background-color: $important-text;
}

.button {
  padding: 12px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  &-wrapper {
    margin: 30px auto 15px;
  }
  &:visited {
    color: $important-bg;
  }
  &:hover {
    background-color: darken($color: $important-text, $amount: 10);
  }
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}
