<footer id="colophon" class="site-footer">
    <div class="container">
        {% for column in footer %}
            {{ column }}
        {% endfor %}
    </div>
</footer><!-- #colophon -->
</div><!-- #page -->