<footer id="colophon" class="site-footer">
    <div class="container">
        {% for column in footer %}
        <section class="footer-area column">
            {{ column }}
        </section>
        {% endfor %}
    </div>
</footer><!-- #colophon -->
</div><!-- #page -->