<main id="primary" class="site-main">
  <div class="main-container">
    <article class="page type-page">
      <header class="entry-header">
        <h1 class="entry-title">
          {{ page.title }}
        </h1>
      </header>
      <!-- .entry-header -->

      <div class="entry-content">
        {{ page.content }}
      </div>
      <!-- .entry-content -->
    </article>
    <!-- #post-158 -->
  </div>
</main>

{{ function('get_footer') }}
