@font-face {
  font-family: 'Darker Grotesque';
  src: url('../fonts/Darker_Grotesque/DarkerGrotesque-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('../fonts/Darker_Grotesque/DarkerGrotesque-Regular.ttf');
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('../fonts/Darker_Grotesque/DarkerGrotesque-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('../fonts/Darker_Grotesque/DarkerGrotesque-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Darker Grotesque';
  src: url('../fonts/Darker_Grotesque/DarkerGrotesque-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('../fonts/Darker_Grotesque/DarkerGrotesque-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('../fonts/Darker_Grotesque/DarkerGrotesque-Bold.ttf');
  font-weight: 700;
}
