#masthead {
  padding: 10px;
  display: flex;
  background: $black;
  color: $white;
  flex-wrap: wrap;
  justify-content: space-between;
  .custom-logo {
    max-width: 150px;
  }
  .nav-main-link {
    display: block;
    font-size: 2.25rem;
    padding: 1.5rem;
    text-decoration: none;
    font-weight: 500;
    color: $white;
  }
}
#site-navigation {
  flex-basis: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .important-header {
    display: flex;
  }
  #site-navigation {
    flex-basis: initial;
    text-align: center;
  }
}
.important-header {
  flex-grow: 3;
  display: none;
}

#masthead {
  .menu-toggle {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    color: $white;
    &:focus {
      border: none;
    }
  }
  i,
  span {
    display: flex;
  }
  span {
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
  i {
    font-size: 2rem;
  }
}

.nav-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  font-size: 1.35rem;
}

@media (min-width: 768px) {
  #masthead {
    .menu-toggle {
      display: none;
    }
    .menu-menu-container {
      text-align: right;
      display: flex;
      justify-content: flex-end;
    }
    .nav-main-link {
      font-size: 1.5rem;
      font-weight: 700;
      padding: 0 20px;
    }
  }
  #site-navigation {
    text-align: right;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
}
