.page-template-default {
  article {
    display: flex;
    flex-direction: column;
  }
  h1 {
    display: inline-block;
    padding-right: 3rem;
    padding-bottom: 1rem;
    border-bottom: 4px solid $primary;
  }
}

.page-content,
.entry-content,
.entry-summary {
  //   margin: 1.5em 0 0;
}
